<div>
    <h2 id="page-heading">
        <span jhiTranslate="excelEmailApp.mailConfig.home.title">Mail Configs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mail-config" [routerLink]="['/mail-config/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="excelEmailApp.mailConfig.home.createLabel">
            Create new Mail Config
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="mailConfigs?.length === 0">
        <span jhiTranslate="excelEmailApp.mailConfig.home.notFound">No mailConfigs found</span>
    </div>
    <div class="table-responsive" *ngIf="mailConfigs?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="username"><span jhiTranslate="excelEmailApp.mailConfig.username">Username</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="password"><span jhiTranslate="excelEmailApp.mailConfig.password">Password</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="smtpServer"><span jhiTranslate="excelEmailApp.mailConfig.smtpServer">Smtp Server</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="smtpPort"><span jhiTranslate="excelEmailApp.mailConfig.smtpPort">Smtp Port</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="typeId"><span jhiTranslate="excelEmailApp.mailConfig.typeId">Type Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mailType"><span jhiTranslate="excelEmailApp.mailConfig.mailType">Mail Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mailConfig of mailConfigs ;trackBy: trackId">
                <td><a [routerLink]="['/mail-config', mailConfig.id, 'view' ]">{{mailConfig.id}}</a></td>
                <td>{{mailConfig.username}}</td>
                <td>{{mailConfig.password}}</td>
                <td>{{mailConfig.smtpServer}}</td>
                <td>{{mailConfig.smtpPort}}</td>
                <td>{{mailConfig.typeId}}</td>
                <td>{{mailConfig.mailType}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/mail-config', mailConfig.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/mail-config', mailConfig.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'mail-config', { outlets: { popup: mailConfig.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="mailConfigs?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
