<div>
    <h2 id="page-heading">
        <span jhiTranslate="excelEmailApp.gongjijin.home.title">Gongjijins</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-gongjijin" [routerLink]="['/gongjijin/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="excelEmailApp.gongjijin.home.createLabel">
            Create new Gongjijin
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="gongjijins?.length === 0">
        <span jhiTranslate="excelEmailApp.gongjijin.home.notFound">No gongjijins found</span>
    </div>
    <div class="table-responsive" *ngIf="gongjijins?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="xh"><span jhiTranslate="excelEmailApp.gongjijin.xh">Xh</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dept"><span jhiTranslate="excelEmailApp.gongjijin.dept">Dept</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="excelEmailApp.gongjijin.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gjjjs"><span jhiTranslate="excelEmailApp.gongjijin.gjjjs">Gjjjs</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="grkkmx"><span jhiTranslate="excelEmailApp.gongjijin.grkkmx">Grkkmx</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dwkkmx"><span jhiTranslate="excelEmailApp.gongjijin.dwkkmx">Dwkkmx</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="total"><span jhiTranslate="excelEmailApp.gongjijin.total">Total</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let gongjijin of gongjijins ;trackBy: trackId">
                <td><a [routerLink]="['/gongjijin', gongjijin.id, 'view' ]">{{gongjijin.id}}</a></td>
                <td>{{gongjijin.xh}}</td>
                <td>{{gongjijin.dept}}</td>
                <td>{{gongjijin.name}}</td>
                <td>{{gongjijin.gjjjs}}</td>
                <td>{{gongjijin.grkkmx}}</td>
                <td>{{gongjijin.dwkkmx}}</td>
                <td>{{gongjijin.total}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/gongjijin', gongjijin.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/gongjijin', gongjijin.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'gongjijin', { outlets: { popup: gongjijin.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="gongjijins?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
